# Python compiled files (Garbage)
__pycache__/
*.pyc

# Virtual Environments (If you use them)
venv/
env/
.env

# IDE Settings (VS Code, PyCharm configurations)
.vscode/
.idea/

# Windows System files
Thumbs.db
Desktop.ini

# Database/Logs (Optional: Un-comment if you use these)
*.db
*.log

.venv/

# Ignore Playground and temp files
playground/
test.txt

# Ignore YOLO output and training datasets
Datasets - LicensePlates/
runs/
yolo_dataset/

# Ignore AI Weights
*.pt